{% block body %}
    <p>Bonjour {{ user.username }},</p>

    <p>Nous vous remercions pour votre achat.</p>

    <p>Le montant de la transaction est de {{ amount }} dollars.</p>

    <p>Cordialement,</p>
    <p>L'équipe de notre site web</p>
{% endblock %}